// colors start
$bgcolor: #2f303a;
$maincolor: #212121;
$maincolor2: #2196f3;
$logocolor: #000000;
$logotext: #ffffff;
$aboutbuttonhover: #188ce8;
$infocolor: #757575;
$buttonportfolio: #f5f4fa;
$iconcolor: #afb1b8;
// colors and

// fonts start
$ffraleway: "Raleway";
$ffroboto: "Roboto";
// fonts end